<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safe.canti">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canti">
        <activity android:name=".Admin_PassActivity"></activity>
        <activity android:name=".CheckActivity">

        </activity>
        <activity android:name=".TimeActivity" />
        <activity android:name=".ShowdataActivity" />
        <activity android:name=".UserdataActivity" />
        <activity android:name=".AvailableActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".AdminActivity" >



        </activity>
        <activity android:name=".LastActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>